/* ViewMenu.module.css */

.cardContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center; /* Center align text */
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    width: 300px;
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: left; /* Reset text alignment for card content */
  }
  
  .cardDetails {
    margin-bottom: 10px;
  }
  
  .cardTitle {
    font-size: 24px; /* Enlarge title font size */
    font-weight: bold;
    color: coral; /* Set title color to coral */
    margin-bottom: 5px;
  }
  
  .cardDescription {
    color: coral; /* Set description color to coral */
    margin-bottom: 10px;
  }
  
  .cardText {
    margin-bottom: 5px;
    font-size: 18px; /* Enlarge text font size */
    color: coral; /* Set text color to coral */
  }
  
  .cardPrice {
    font-size: 20px; /* Enlarge price font size */
    font-weight: bold;
    color: coral; /* Set price color to coral */
    margin-bottom: 10px;
  }
  
  .cardImg {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  /* Media query for responsiveness */
  @media (max-width: 768px) {
    .card {
      width: 100%;
    }
  }
  